:root {
    --max-w-sm: 1000px;

    --spacing-x-sm: 5rem;

    --spacing-y-xs: 2rem;
    --spacing-y-s: 3.5rem;
    --spacing-y-sm: 4.5rem;
    --spacing-y-m: 6rem;

    --gap-sm: 5rem;

    --dino-bottom-offset: 2.5rem;
}


html,
body {
    font-family: var(--font-nunito);
}
