:root {
    --spacing-x-xxs: 20px;
    --spacing-x-xs: 3rem;
    --spacing-x-s: 4rem;
    --spacing-x-sm: 5rem;
    --spacing-x-outer: 5rem;

    --spacing-y-xs: 2rem;
    --spacing-y-s: 3.5rem;
    --spacing-y-sm: 4.5rem;
    --spacing-y-m: 4.5rem;

    --spacing-y-outer: 6rem;
    --spacing-y-block-start: 64px;
    --spacing-y-block: 52px;
    --spacing-y-section: 3.5rem;
    --spacing-y-paragraph: 2rem;

    --spacing-y-start-image: 3rem;

    --spacing-footer-image-correction: 65px;
    --spacing-circle: 32px;

    --gap-sm: 5rem;

    --dino-bottom-offset: 2.5rem;

    --height-banner: 4.5rem;
    --height-start-description: 5.75rem;
    --height-footer-image: 457px;
    --height-input-field: 50px;
    --height-start-image: 375px;
    --height-start: 500px;

    --width-sm: 775px;
    --width-md: 900px;
    --width-text: 550px;
    --width-text-lg: 750px;
    --width-footer-image: 1150px;

    --brown-200: #857459;

    --blue: #4772D2;
    --blue-faded: rgba(76,118,201,0.27);
    --blue-200: #cdd8ee;
    --blue-600: #294290;
    --blue-600-faded: #889bd3;
    --blue-600-faded-2: rgb(225, 230, 246);

    --red-200: #FAA19F;
    --red-200-faded: #ffc7c6;
    --red-200-faded-2: #ffdedd;

    --orange: #E6B45A;
    --orange-faded: #eecb8d;
    --orange-faded-2: #dfb366;
    --orange-600: #CAA263;
    --orange-400: #EFE6D6;
    --orange-300: #F3EBDF;
    --orange-200: #F7F2EA;
    --orange-200-faded: rgb(236,219,193);
    --orange-100: #fbf8f4;

    --yellow-100: #FFFFFA;
    --yellow-100-transparent: rgba(255,255,250,0.6);

    --PhoneInput-color--focus: #FFFFFF;
}

@media only screen and (max-width: 980px) {
    :root {
        --spacing-circle: 28px;
    }
}

@media only screen and (max-width: 819px) {
    :root {
        --spacing-x-outer: 4rem;
    }
}

@media only screen and (max-width: 700px) {
    :root {
        --spacing-footer-image-correction: 75px;
        --height-footer-image: 318px;
        --width-footer-image: 800px;
    }
}

@media only screen and (max-width: 600px) {
    :root {
        --spacing-x-s: 2rem;
        --spacing-x-sm: 3.5rem;
        --spacing-x-outer: 2rem;

        --spacing-y-xs: 1rem;
        --spacing-y-s: 2rem;
        --spacing-y-sm: 3.5rem;
        --spacing-y-m: 4rem;
        --spacing-y-outer: 6rem;
        --spacing-y-start-image: 3rem;

        --spacing-y-section: 2rem;
        --spacing-y-paragraph: 1rem;

        --height-start-description: 93px;
    }
}

@media only screen and (max-width: 470px) {
    :root {
        --spacing-x-outer: 1.5rem;
        --spacing-y-block: 2.5rem;
    }
}

@media only screen and (max-width: 405px) {
    :root {
        --spacing-x-xs: 2rem;
        --spacing-y-start-image: 1rem;

        --spacing-y-m: 2rem;
        --spacing-y-outer: 2.5rem;

        --height-banner: 4.5rem;
    }
}

html,
body {
    font-family: var(--font-nunito);
    color: var(--blue-600);
}

* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    color: var(--orange-400);
    background-color: var(--blue);
}

iframe:focus-visible,
iframe:focus {
    outline: none!important;
}

a:visited {
    color: var(--blue-600)!important;
}

a {
    text-decoration: none!important;
}

input:active,
input:focus,
input:focus-visible {
    box-shadow: none;
    outline: none;
}

input::placeholder {
    text-align: left;
    color: var(--blue-600-faded);
    opacity: 1;
}

input::-ms-input-placeholder {
    color: var(--blue);
}

input[type="checkbox"]::before {
    content: "x";
    display: none;
}

input[type="checkbox"]:checked::before {
    display: block;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
}

.PhoneInputInput {
    height: var(--height-input-field);
    padding: 0 10px;
    border: 2px solid var(--blue-600-faded);
    color: var(--blue-600);
    background-color: var(--yellow-100);
    min-width: 250px!important;
}

@media only screen and (max-width: 819px) {
    .PhoneInputInput {
        min-width: 233px!important;
    }
}

.PhoneInputInput:active,
.PhoneInputInput:focus,
.PhoneInputInput:focus-visible {
    border: 2px solid var(--blue);
}

.PhoneInputCountry {
    padding: 0 10px;
    margin-right: 0 !important;
    min-width: 55px !important;
}

.css-b62m3t-container {
    cursor: pointer!important;
}

.select__control {
    height: var(--height-input-field)!important;

    background-color: var(--yellow-100)!important;
    color: var(--blue-600-faded)!important;

    border-color: var(--blue-600-faded)!important;
    border-radius: 0!important;
    border-width: 2px!important;

    box-shadow: none!important;

    cursor: pointer!important;
}

.select__control:hover {
    border-color: var(--blue)!important;
}

.select__control--menu-is-open {
    border-color: var(--blue)!important;
}

.select__control--is-focused {
    border-color: var(--blue)!important;
}

.select__control--is-disabled {
    background-color: var(--orange-100)!important;
    color: var(--blue-600-faded)!important;
    border-color: var(--blue-600-faded)!important;
}

.select__single-value {
    color: var(--blue-600)!important;
}

.select__single-value--is-disabled {
    color: var(--blue-600-faded)!important;
}

.select__input-container {
    margin: 0 !important;
    padding: 0 !important;
}

.css-b62m3t-container:focus-visible {
    outline: none!important;
}

.select__placeholder {
    margin: 0 !important;
    color: var(--blue-600-faded)!important;
}

.select__value-container {
    padding: 8px 1rem!important;
}

.select__indicator {
    color: var(--blue-600-faded)!important;
    border-color: var(--blue-600-faded)!important;
}

.select__menu {
    margin: 0!important;
    border-radius: 0px!important;
    border-top: none;
    border-bottom: 2px solid var(--blue-600-faded)!important;
    border-right: 2px solid var(--blue-600-faded)!important;
    border-left: 2px solid var(--blue-600-faded)!important;
    box-shadow: none!important;
}

.select__menu-list {
    padding: 0 !important;
    max-height: 150px!important;
    overflow-y: scroll!important;
}

@media only screen and (max-width: 600px) {
    .select__menu-list {
        padding: 0 !important;
        max-height: 125px!important;
        overflow-y: scroll!important;
    }
}

.select__option {
    color: var(--blue-600)!important;
    background-color: var(--yellow-100)!important;
    padding: 8px 1rem !important;
    height: var(--height-input-field);
    display: flex;
    align-content: center;
    justify-items: center;
}

.select__option:hover {
    background-color: var(--blue-600-faded-2)!important;
}

.select__option--is-selected {
    background-color: var(--blue-600-faded-2)!important;
}

.select__indicators {
    border-color: var(--blue-600-faded)!important;
}

.select__indicator-separator {
    background-color: var(--blue-600-faded)!important;
}