:root {
    --spacing-x-xs: 3rem;
    --spacing-x-s: 4rem;
    --spacing-x-sm: 5rem;
    --spacing-x-outer: 5rem;

    --spacing-y-xs: 2rem;
    --spacing-y-s: 3.5rem;
    --spacing-y-sm: 4.5rem;
    --spacing-y-m: 4.5rem;

    --spacing-y-outer: 6rem;
    --spacing-y-block: 4.5rem;
    --spacing-y-section: 3.5rem;
    --spacing-y-paragraph: 2rem;

    --spacing-y-start-image: 3rem;

    --spacing-footer-image-currection: 65px;
    --spacing-circle: 32px;

    --gap-sm: 5rem;

    --dino-bottom-offset: 2.5rem;

    --height-banner: 4.5rem;
    --height-start: 625px;
    --height-start-description: 5.75rem;
    --height-footer-image: 457px;

    --width-sm: 900px;
    --width-md: 1150px;
    --width-text: 550px;
    --width-text-lg: 750px;
    --width-footer-image: 1150px;

    --blue: #4772D2;
    --blue-600: #294290;
    --blue-600-faded: #889bd3;
    --red-200: #FAA19F;
    --red-200-faded: #ffc7c6;
    --orange: #E6B45A;
    --orange-faded: #eecb8d;
    --orange-600: #CAA263;
    --orange-400: #EFE6D6;
    --orange-200: #F7F2EA;
    --yellow-100: #FFFFF;
}

@media only screen and (max-width: 980px) {
    :root {
        --spacing-circle: 28px;
    }
}

/* screen size ss */
@media only screen and (max-width: 819px) {
    :root {
        --spacing-x-outer: 4rem;
    }
}

@media only screen and (max-width: 700px) {
    :root {
        --spacing-footer-image-currection: 75px;
        --height-footer-image: 318px;
        --width-footer-image: 800px;
    }
}

@media only screen and (max-width: 600px) {
    :root {
        /*--spacing-x-xs: 1rem;*/
        --spacing-x-s: 2rem;
        --spacing-x-sm: 3.5rem;
        --spacing-x-outer: 2rem;

        --spacing-y-xs: 1rem;
        --spacing-y-s: 2rem;
        --spacing-y-sm: 3.5rem;
        --spacing-y-m: 4rem;
        --spacing-y-outer: 6rem;
        --spacing-y-start-image: 3rem;

        --spacing-y-section: 2rem;
        --spacing-y-paragraph: 1rem;

        --height-start-description: 93px;
    }
}

@media only screen and (max-width: 470px) {
    :root {
        --spacing-x-outer: 1.5rem;
        --spacing-y-block: 2.5rem;
    }
}


@media only screen and (max-width: 405px) {
    :root {
        --spacing-x-xs: 2rem;
        --spacing-y-start-image: 1rem;

        --spacing-y-m: 2rem;
        --spacing-y-outer: 2.5rem;

        --height-banner: 4.5rem;
    }
}

html {
    /*min-width: 100dvw;*/
    /*width: 100dvw;*/
    /*max-width: 100dvw;*/
    /*overflow-x: hidden!important;*/

    /*max-height: 100dvh;*/
    /*overflow-y: scroll;*/
    height: 100%;
}

body {
    font-family: var(--font-nunito);

    /*max-height: 100dvh;*/
    /*overflow-y: scroll;*/
    height: 100%;
}

input[type=text]:active,
input[type=text]:focus,
input[type=text]:focus-visible {
    /*background-color: var(--yellow-100);*/
    box-shadow: none;
    outline: none;
}

input[type=text]::placeholder {
    text-align: left;
    color: var(--blue-600-faded);
    opacity: 1;
}

input[type=text]::-ms-input-placeholder {
    color: var(--blue);
}

.MuiInputBase-root {
    border-radius: 0!important;
    border: 0!important;
}

/*.css-w1u3ce {*/
/*    display: none;*/
/*}*/

.MuiOutlinedInput-notchedOutline  {
    /*display: none;*/
    border: 2px solid var(--blue);
}

.MuiOutlinedInput-notchedOutline:hover  {
    /*display: none;*/
    border: 2px solid var(--blue);
}


.css-81qg8w {
    color: var(--blue-600-faded)!important;
}

.MuiOutlinedInput-notchedOutline {
    border: 2px var(--blue-600-faded) solid!important;
    /*background-color: #FFFFFA;*/
    /*height: 50px!important;*/
    color: var(--blue-600)!important;
    font-size: 16px!important;
    font-weight: normal!important;
}

.MuiOutlinedInput-notchedOutline:focus {
    border: 2px var(--blue) solid!important;
}

.MuiInputBase-input {
    padding: 0 1rem!important;
    height: 55px!important;
    display: flex;
    justify-items: center;
    align-content: center;
    color: var(--blue-600)!important;
    font-size: 16px!important;
    font-weight: normal!important;
}

.MuiInputBase-root {
    background-color: #FFFFFA;
}

.MuiFormLabel-root {
    color: var(--blue-600-faded)!important;
    font-size: 16px!important;
    font-weight: normal!important;
}

input[type="checkbox"] {
    appearance: none;
    background-color: var(--yellow-100);
    margin: 0;
    color: var(--blue-600);
    width: 19px;
    height: 19px;
    border: 2px solid var(--blue-600-faded);
    border-radius: 0;
    display: grid;
    place-content: center;
    font-size: 16px;
    padding-bottom: 2px;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "x";
    display: none;
}

input[type="checkbox"]:checked::before {
    display: block;
}

